:root{
    --color-border: hsl(235deg 16% 29%);
    --color-disable:hsl(234deg 12% 48%);
    --color-task: hsl(234, 39%, 85%);
    --base-background: hsl(235, 24%, 19%);
    --background-color-dark: hsl(235, 21%, 11%);
}