form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(233, 14%, 35%);
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    width: 600px;

}

.newtodo{
    font-family: Josefin Sans;
    font-size: 25px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: 0;
    color: hsl(234, 39%, 85%);
    outline:none;
}

.butSub1{
    margin: 0 5px;
    height: 28px;
    width: 28px;
    border-radius: 30px;
    border: solid 1px;
}

.butSub1:hover{
    background-color: gray;
}

.butSub{
    margin: 0 5px;
    height: 28px;
    width: 28px;
    border-radius: 30px;
    border: solid 1px;
}

