.tabela{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background-color: hsl(233, 14%, 35%);
    color: hsl(234, 39%, 85%);
    border-radius: 5px 5px 0 0;
    height: 500px;
    flex-wrap: wrap;
    width: 500px;
}

.todoo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 40px;
    border-bottom: 1px solid white;
    font-size: 25px;
    width: 500px;
    overflow: hidden;
}
