.tabela{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background-color: hsl(233, 14%, 35%);
    color: hsl(234, 39%, 85%);
    border-radius: 5px 5px 0 0;
    height: 500px;
    flex-wrap: wrap;
    width: var(--base-width);
}

.todoo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 40px;
    border-bottom: 1px solid white;
    font-size: 25px;
    width: var(--base-width);
    overflow: hidden;
}

.butCheck{
        margin: 0 5px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 28px;
        width: 28px;
}

.checkMark{
    margin: 0 5px;
    height: 28px;
    width: 28px;
    border-radius: 30px;
    border: solid 1px;
}

.butCheck:hover  ~ .checkMark {
    background-color: #ccc;
}

.butCheck:checked ~ .checkMark{
    background-image: url(../assets/imgs/icon-check.svg)
}
