.tabela {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  background-color: var(--base-background);
  color: var(--color-task);
  border-radius: 5px 5px 0 0;
  height: 390px;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  border: 1px solid var(--color-border);
  box-sizing: border-box;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  min-height: 65px;
  border-bottom: 1px solid var(--color-border);
  font-size: var(--font-size-md);
  width: 100%;
  padding: 10px 24px;
  gap: 12px;
  box-sizing: border-box;
}

.checkMark {
  flex-basis: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  /* margin: 0 24px; */
  height: 25px;
  width: 25px;
  border-radius: 30px;
  border: solid 1px;
  border-color: gray;
  background-color: var(--base-background);
}

.checkMark:hover {
  background: linear-gradient(to right ,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(255,255,255,0.9);
  cursor: pointer;
}

.checkMark:hover:before {
  border-radius: 100%;
  display:block;
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: var(--base-background);
  position: absolute;
  top:2px;
  left:2px;
}

.check {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/imgs/icon-check.svg), var(--base-gradient);
  border: none;
}

.nameTodo{
    padding: 11px 0 5px 0;
    flex-grow: 1;
}

.todoDone{
  text-decoration: line-through;
  color: var(--color-disable);
}

.removeButton{
  background-image: url(../../assets/imgs/icon-cross.svg);
  flex-basis: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}