.tabela {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  background-color: var(--base-background);
  color: var(--color-task);
  border-radius: 5px 5px 0 0;
  height: 390px;
  flex-wrap: wrap;
  max-width: var(--base-width);
  width: 100%;
  overflow: auto;
  border: 1px solid var(--color-border);
  box-sizing: border-box;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  min-height: 65px;
  border-bottom: 1px solid var(--color-border);
  font-size: var(--font-size-md);
  max-width: var(--base-width);
  width: 100%;
  padding: 10px 24px;
  gap: 12px;
  box-sizing: border-box;
}

.checkMark {
  flex-basis: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  /* margin: 0 24px; */
  height: 25px;
  width: 25px;
  border-radius: 30px;
  border: solid 1px;
  border-color: gray;
  background-color: var(--base-background);
}

.checkMark:hover {
  /* background: var(--base-gradient); */
  border: solid 1px var(--base-gradient);
}

.check {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/imgs/icon-check.svg), var(--base-gradient);
  border: none;
}

.nameTodo{
    padding: 11px 0 5px 0;
}
