form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--base-background);
    border-radius: 5px;
    height: 65px;
    margin-bottom: 20px;
    width: var(--base-width);

}

.newtodo{
    font-family: Josefin Sans;
    font-size: 18px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    color: hsl(234, 39%, 85%);
    outline:none;
}

.butSub1{
    margin: 0 24px;
    height: 30px;
    width: 35px;
    border-radius: 30px;
    border: solid 1px ;
    padding: 0;
    background-color: var(--base-background);
}

.butSub1:hover{
    background: var(--base-gradient);
}

.butSub{
    box-sizing: border-box;
    margin: 0 24px;
    height: 30px;
    width: 35px;
    border-radius: 30px;
    border: solid 1px;
    padding: 0 ;
}

