.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: hsl(233, 14%, 35%);
    border-radius: 0 0 5px 5px;
    color: hsl(236, 9%, 61%);
    width: 600px;
    height: 54px;
    border-top: 1px solid hsl(236, 9%, 61%);
    padding: 0 24px;
    box-sizing: border-box;
}

.button{
    font-family: Josefin Sans;
    font-size: 14px;
    background-color: rgba(0,0,0,0);
    border: 0;
    color: hsl(236, 9%, 61%);
    cursor: pointer;
}

.button:hover{
    color:hsl(233, 11%, 84%);
}

.filter-actions{
    display: flex;
    justify-content: center;
}

.blue{
    color:hsl(220, 98%, 61%);
}

