.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--base-background);
    border-radius: 0 0 5px 5px;
    color: var(--color-disable);
    max-width: var(--base-width);
    width: 100%;
    height: 54px;
    border-top: 1px solid var(--color-border);
    padding: 0 24px;
    box-sizing: border-box;
    font-size: var(--font-size-sm);
    border: 1px solid var(--color-border);
}

.butto{
    font-family: 'Josefin Sans';
    background-color: rgba(0,0,0,0);
    border: 0;
    color: var(--color-disable);
    cursor: pointer;
}

.butto:hover{
    color:hsl(233, 11%, 84%);
}

.filter-actions{
    display: flex;
    justify-content: center;
}

.blue{
    color:hsl(220, 98%, 61%);
}

.mobile{
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 25px 6px 25px;
    max-width: var(--base-width);
    width: 100%;
    height: 65px;
    background-color: var(--base-background);
    border-radius: 5px;
    font-family: 'Josefin Sans';
    font-size: var(--font-size-md);
    color: var(--color-task);
}