form {
  width: 100%;
}

.newtodo {
  margin-bottom: 20px;
  box-sizing: border-box;
  display: block;
  padding: 10px 25px 6px 25px;
  width: 100%;
  height: 65px;
  background-color: var(--base-background);
  border-radius: 5px;
  font-family: "Josefin Sans";
  font-size: var(--font-size-md);
  border: none;
  color: var(--color-task);
  outline: none;
}

.newtodo::placeholder {
  color: var(--color-disable);
}
